 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333333;
}

/* header part */
header, footer {
  background-color: #333;
  color: white;
}

header a {
  color: white;
  transition: color 0.6s ease;
}

header a:hover {
  color: #ff4500;
}



header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

header nav a {
  padding-left: 20px;
}

header > a, header > nav > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}
header > nav > a {
  text-transform: uppercase;
}
header > a {
  font-weight: 700;
  font-size: 1.9em;
}


header img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}


/* formulaire */
.from-group{
	margin-bottom: 20px;
}
label{
	display: block;
	margin: 10px;
}
input{
	width: 60%;
	padding: 8px;
	margin: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
fieldset {
	width: 70%;
}
input[type="submit"]{
	cursor: pointer;
}

body{
	background-color: #f4f4f4;
}
section > div:nth-child(2) > h2{
	margin-left: 12%;
}
section > div:nth-child(2) > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight:bold;
	padding: 10px 20px;
	background-color: #ccc;
	border: 1px solid transparent;
	text-transform: capitalize;
	width: 50%;
	transition: background-color color 0.3s ease ;
}
section > div:nth-child(2) > a:hover{
	background-color: #333;
	color: white;
}

/* */
section{
	padding-top:8%;
	padding-left: 5%;
}

/* */
div > h2{
	padding-bottom: 5%;
	animation: na 1.6s ease-in-out forwards;
}
@keyframes na{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}



section{
	display: flex;
}
section > div{
	flex: 1;
}


/* Media Queries */
@media (max-width: 600px) {
  /* Adjustments for screens smaller than 600px wide */
  header {
    padding: 20px 10px; /* Adjust padding for smaller screens */
  }

  header img {
    width: 20px; /* Adjust width of the logo for smaller screens */
    height: 20px; /* Adjust height of the logo for smaller screens */
    top: 5px; /* Adjust position of the logo for smaller screens */
  }

  header > a {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  header nav a {
    padding-left: 10px; /* Adjust padding for smaller screens */
  }
  fieldset{
		width: 100%;
	}
}
