/* section 1 */
#sec1{
    background-image: url("multimediaMainPage/CovertureMainPage.jpg");
}

/* padding */
#secMc {
    padding: 0; /* 2% of the viewport width for dynamic padding */
}

#sec3 , #sec2 {
    padding: 18vw; /* 5% of the viewport width for dynamic padding */
}

#sec2 > h2 , #sec3 > h2{
    margin-top: -210px;
}




/* Cart with flex */ 
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: -25%;
    margin-left: 0;
}

.clothe {
    width: 32%;
    height: 40%;
    border: 1px solid #ccc;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for a smooth effect */


    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}



.clothe img {
    margin-top: -10px;
    width: 100%;
    height: auto;
}

.clothe .info {
    margin-top: 10px;
}
.clothe .info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.clothe .info p:nth-child(2),.clothe .info p:nth-child(4)  {
	margin-top: 0%;
	margin-left:5%;
	margin-bottom: 3%;

}
.clothe .info p:nth-child(2) {
	text-transform: uppercase;
	font-style: italic;
}
.clothe .info p:nth-child(4) {
	margin-top: 2%;
	font-size: 0.7em;
}
.clothe .info p:nth-child(3) {
	margin-top: -9%;
	margin-right: 5%;
	font-size: 1.2em;
  align-self: flex-end; /* Align price to the right */
  font-weight: bold;
}

/* Media query for responsive design */
@media (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .clothe {
        width: 80%;
    }
}

/* title and lien adjusement  */	
section h2{
	text-transform: capitalize;
	font-size: 1.8em;
	opacity: 0; /* Set initial opacity to 0 for the fade-in effect */
  animation: fadeIn 1.6s ease-in-out forwards; /* Animation properties */
}


@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(20px); /* Optional: Add a slight upward motion */
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* Optional: Bring the element back to its original position */
  }
}



  

  /* section marque adjusement  */ 

#secMc{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;

}
#secMc img{
	align-self: flex-start;
	width: 25%;
	height: auto;
	margin: 0 ;
	padding: 0;
  
}

/*   */ 

