* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333333;
}

/* header part */
header, footer {
  background-color: #333;
  color: white;
}


header a {
  color: white;
  transition: color 0.6s ease;
}

header a:hover {
  color: #ff4500;
}

section {
  border: 1px solid #dddddd;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

header nav a {
  padding-left: 20px;
}

header > a, header > nav > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}
header > nav > a {
  text-transform: uppercase;
}
header > a {
  font-weight: 700;
  font-size: 1.9em;
}


header img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}


/* footer part */
footer {
    padding: 3vw; 
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

footer > div {
    padding: 10px;
}

footer > div > h2 {
    margin-top: -40px;
}
footer > div > p{
  margin-top: 20px;
}
footer > div > a > i{
  padding: 5px 5px;
  color: white;
  margin-top:5px;
}


/* sec1 */
#sec1p{
	padding: 10vw;
}

#sec1p > h1{
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}


/* sec2   */

#sec2p{
	padding: 20vw;
}

#sec2p{
	display: grid;
	grid-template-columns: 70% auto;
}
#sec2p > div {
	border: 1px solid #dddddd;
}