
.from-group{
	margin-bottom: 20px;
}
label{
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
input{
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="submit"] , input[type="reset"] {
	width: 40%;
	padding: 8px;
	margin: 8px;
	display: inline;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	padding: 10px;
}
form{
	text-align: center;
}
fieldset{
	width: 300px;
	margin: 0 auto;
}


/* Media Queries */
@media (max-width: 600px) {
  /* Adjustments for screens smaller than 600px wide */
  fieldset {
    width: 100%; /* Set the width of the fieldset to 100% for smaller screens */
    margin: 0; /* Remove margin for smaller screens */
  }

  input[type="submit"],
  input[type="reset"] {
    width: 100%; /* Set the width of submit and reset buttons to 100% for smaller screens */
    margin: 8px 0; /* Adjust margin for smaller screens */
  }
}

